<h2>Areas</h2>
<button mat-raised-button color="primary" type="button" (click)="openDialogCreate()" >Crear área</button>
<hr>
<br>

<div *ngIf="!isLoading">
  <table mat-table [dataSource]="dataSources" class="mat-elevation-z8" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element">{{ element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element">{{ element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate | date : "yyyy/M/d h:mm a" }} </td>
    </ng-container>

    <ng-container matColumnDef="lastModifiedDate">
      <th mat-header-cell *matHeaderCellDef> Fecha de modificación </th>
      <td mat-cell *matCellDef="let element"> {{element.lastModifiedDate | date : "yyyy/M/d h:mm a"}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <a (click)="openDialogEdit(element.id)">
          <mat-icon mat-list-icon color="accent">edit</mat-icon>
        </a>
        <a (click)="openDialogDelete(element.id, element.name)">
          <mat-icon mat-list-icon color="warn" >delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;" ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5" >No data</td>
    </tr>
  </table>
</div>

<div *ngIf="isLoading">
  <app-loader-app></app-loader-app>
</div>
